apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: "{{ mvie_namespace }}"
  name: mvie-route
  namespace: "{{ mvie_namespace }}"
spec:
  port:
    targetPort: tcp-443
  tls:
    termination: passthrough
  to:
    kind: Service
    name: mvie-service
    weight: 100
  wildcardPolicy: None
