---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: "{{ mvie_namespace }}"
  name: cpicrio
  namespace: "{{ mvie_namespace }}"
stringData:
  .dockerconfigjson: "{{ entitledContent | join('') | string }}"
type: kubernetes.io/dockerconfigjson
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: "{{ mvie_namespace }}"
  name: mvi-edge-us
  namespace: "{{ mvie_namespace }}"
stringData:
  .dockerconfigjson: "{{ icrContent | join('') | string }}"
type: kubernetes.io/dockerconfigjson

