apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: "{{ mvie_namespace }}"
  name: mvie-anyuid
  namespace: "{{ mvie_namespace }}"
imagePullSecrets:
- name: dockeriosecret
- name: cpicrio
- name: mvi-edge-us
