apiVersion: apps/v1
kind: Deployment
metadata:
  name: nfs-client-provisioner
  namespace: {{ nfs_namespace }}
  labels:
    app: nfs-client-provisioner
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: nfs-client-provisioner
  template:
    metadata:
      annotations:
      labels:
        app: nfs-client-provisioner
    spec:
      serviceAccountName: nfs-client-provisioner
      containers:
        - name: nfs-client-provisioner
          image: {{ nfs_container }}
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: nfs-client-root
              mountPath: /persistentvolumes
          env:
            - name: PROVISIONER_NAME
              value: "k8s-sigs.io/nfs-client-provisioner"
            - name: NFS_SERVER
              value: "{{ nfs_server }}"
            - name: NFS_PATH
              value: "{{ nfs_path }}"
{% if nfs_on_master == "true" %}
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
{% endif %}
      volumes:
        - name: nfs-client-root
          nfs:
            server: "{{ nfs_server }}"
            path: "{{ nfs_path }}"
