apiVersion: v1
kind: Namespace
metadata:
  name: {{ nfs_namespace }}
  labels:
    name: {{ nfs_namespace }}
    security.openshift.io/scc.podSecurityLabelSync: 'false'
    kubernetes.io/metadata.name: {{ nfs_namespace }}
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/audit-version: v1.24
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/enforce-version: v1.24
    pod-security.kubernetes.io/warn: privileged
    pod-security.kubernetes.io/warn-version: v1.24
