apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  labels:
    app: nfs-client-provisioner
  name: {{ nfs_storageclass }}
  annotations:
    storageclass.kubernetes.io/is-default-class: "{{ nfs_default_sc }}"
provisioner: k8s-sigs.io/nfs-client-provisioner
allowVolumeExpansion: true
reclaimPolicy: Delete
parameters:
  archiveOnDelete: "false"