apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |
    prometheusK8s:
      retention: {{ prometheus_retention_period }}
      retentionSize: {{ prometheus_retention_size }}
      baseImage: openshift/prometheus
      volumeClaimTemplate:
        spec:
          storageClassName: {{ prometheus_storage_class }}
          resources:
            requests:
              storage: {{ prometheus_storage_size }}
    alertmanagerMain:
      volumeClaimTemplate:
        spec:
          storageClassName: {{ prometheus_storage_class }}
          resources:
            requests:
              storage: {{ alertmanager_storage_size }}
