{% for ns in vault_enabled_namespaces %}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: vault-kv-app
  namespace: "{{ ns }}"
spec:
  destination:
    create: true
    name: secretkv
    overwrite: false
    transformation: {}
  hmacSecretData: true
  mount: kv
  path: openshift
  refreshAfter: 30s
  type: kv-v2
  vaultAuthRef: static-auth
{% endfor %}