apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultConnection
metadata:
  name: default
  namespace: "{{ vault_namespace }}"
spec:
  address: "{{ vault_addr }}"
  skipTLSVerify: false
  caCertSecretRef: vault-ca-cert
