apiVersion: v1
kind: Service
metadata:
  labels:
    app: "{{ fakesmtp_name }}"
  name: mail-svc
  namespace: "{{ fakesmtp_name }}"
spec:
  type: ClusterIP
  ports:
  - name: 80-http
    port: 80
    protocol: TCP
    targetPort: 1080
  - name: 25-smtp
    port: 25
    protocol: TCP
    targetPort: 1025
  selector:
    app: "{{ fakesmtp_name }}"