apiVersion: ocs.openshift.io/v1
kind: StorageCluster
metadata:
  name: ocs-storagecluster
  namespace: openshift-storage
spec:
  storageDeviceSets:
  - count: 3
    dataPVCTemplate:
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 1
        storageClassName: "{{ odf_storageclass }}"
        volumeMode: Block
    name: "ocs-deviceset-{{ odf_storageclass }}"
    placement: {}
    portable: false
    replica: 1
    resources: {}
  monDataDirHostPath: /var/lib/rook
  flexibleScaling: true
